# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole site, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing these this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.github_repo }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

# TODO(setup): Typically the course number, "DEPT XXX". it appears on nearly every page. Keep it short. :)
title: A Berkeley Course
# TODO:(setup): This should be the extended title of your course. e.g. "Introduction to Data Science"
tagline: A Jekyll template for course websites
description: A modern, highly customizable, responsive Jekyll template for course websites
# TODO(template): this should be built from the staff list...
author: Various Bears

# TODO(setup): Set this to the semester, e.g. /sp24, (faXX / spXX / suXX / wiXX )
baseurl: '/berkeley-class-site' # the subpath of your site, which should just be the semester.
# TODO(setup): Set this to your course's domain
url: 'https://berkeley-eecs.github.io' # the hostname & protocol for your site, e.g. http://example.com

# Course variables
# Course variables can appear in various places around the website, if something isn't used leave it blank.
# TODO(setup): Set all of these course variables
course: SAMPLE 101
course_email: COURSE_EMAIL@berkeley.edu
gradescope_course_id: 123456 # you can find this in the Gradescope URL after /courses
bcourses_course_id: 123456 # Same as above, but for bCourses. Leave blank if not in use...
ed_course_id: 123456 # Again, same as above.
sememster: spYY | suYY | faYY # set for the current seemester
# TODO(template): We need to set this up.
course_logo_path:
# This should be one of eecs, dsus, stat
# (Future) This will control some footer text, and later custom styling.
course_department: dsus
# This should be the page of all class archives
# Typically just / for DS courses (with a visible index page), or /archives if you're hosting your own, or a link to the inst.eecs page
# If you have no archive page, comment this line out or leave blank.
class_archive_path: /

# TODO(setup): Remove this line if your favicon is named favicon.ico and is in the root directory,
# otherwise set this to the path to your favicon.
# favicons can be course specific or you can use the default Berkeley one that comes with the template.
favicon_ico: "/favicon.png"

# TODO(setup): Set these auxiliary links as you wish - they show up on the top right
aux_links:
  # TODO(template): Move this to be built-in.
  Ed:
    - 'https://edstem.org'
  OH Queue:
    - 'https://oh.c88c.org'
  View Template on GitHub:
    - 'https://github.com/berkeley-eecs/berkeley-class-site'

# TODO(template): These need to be documented
# TODO(semester): You may want to review these...
berkeley_theme_options:
  show_logo_in_sidebar: true

# TODO(template): Copy class information to the template.
google_calendar:
  # This can be found in the settings for the calendar.
  # The calendar must be publicly readable.
  google_calendar_id: c_134c9c007d75a399b5e7b39377d2f4e45c9db648f2df4417f8c9a490cb0726d1@group.calendar.google.com
  # You need to make this, once per course, ideally via a SPA
  # TODO: Recommend adding link to Google cloud project here
  google_api_key: AIzaSyBombNhLEEZRjCfG4Fp5PpmICYBZO3PvY8
  # These are processed in order, top-to-bottom, first match applies
  # The prefix/suffix matches the Google Calendar event *title*
  # You may use only prefix OR suffix, see fullcalendar.js
  event_types:
    - suffix: Lecture
      background_color: '9FD1FF' # Blue light
      text_color: '000'
      class: cal-lecture
      icon: fa-school
    - suffix: Tea Hours
      background_color: 'FFE88D' # gold light
      text_color: '000'
      class: cal-tea-oh
      icon: fa-mug-hot
    - suffix: Faculty Office Hours
      background_color: 'FFC31B' # gold medium
      text_color: '000'
      class: cal-tea-oh
      icon: fa-person-circle-question
    - suffix: Office Hours
      background_color: 'D9CEFF' # purple light
      text_color: '000000'
      class: cal-oh
      icon: fa-person-circle-question
    - suffix: Tutoring Section
      background_color: 'FFCFE5' # rose light
      text_color: '000000'
      class: cal-tutoring
      icon: fa-people-group
    - suffix: Section
      background_color: '004AAE' # blue medium
      text_color: 'FFFFFF'
      class: cal-disc-section
      icon: fa-person-chalkboard
    - suffix: Exam
      background_color: 'FA8072' # salmon red
      text_color: '000000'
      class: cal-tutoring
      icon: fa-school

# Collections for website data
collections:
  staffers:
    sort_by: name
  modules:
  calendars:
  announcements:
  labs:
    output: true
    permalink: /:collection/:path/
  lectures:
    output: true
    sort_by: number # Date could work...
    permalink: /lectures/:path/
  hw:
    output: true
    permalink: /:collection/:path/
  projects:
    output: true
    permalink: /:collection/:path/

# The sitemap **must** be enabled. It's published as /baseurl/sitemap.xml
plugins:
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-github-metadata
  - jekyll-include-cache
  - jekyll-jupyter-notebook

# Default layouts for each collection type
defaults:
  - scope:
      path: ''
      type: labs
    values:
      layout: lab
      nav_exclude: true
  - scope:
      path: ''
      type: hw
    values:
      layout: hw
      nav_exclude: true
  - scope:
      path: ''
      type: projects
    values:
      layout: project
      nav_exclude: true
  - scope:
      path: '_staffers'
      type: staffers
    values:
      layout: staffer
      height: 300
      subpath: '/assets/images/'
      width: 300
  - scope:
      path: ''
      type: modules
    values:
      layout: module
  - scope:
      path: ''
      type: calendars
    values:
      layout: calendar
  - scope:
      path: ''
      type: announcements
    values:
      layout: announcement
  - scope:
      path: ''
      type: lectures
    values:
      layout: lecture
      time: 00:00 # Default release time of lectures is currently set to 12:00 AM 


######################################################################
# Just the Docs / Berkeley Class Site Common Config
# Options below here will likely not need to be configured..
######################################################################
# TODO(template): We should clean these up + standardize...
# TODO(setup): You may want to add additional
callouts_level: quiet # or loud
callouts:
  highlight:
    color: yellow
  important:
    title: Important
    color: blue
  new:
    title: New
    color: green
  note:
    title: Note
    color: purple
  warning:
    title: Warning
    color: red

# TODO(template): CSS compilations. Handle warnings...
sass:
  style: expanded
  sass_dir: _sass
  sourcemap: always
  quiet_deps: true
  verbose: false
  silence_deprecations: ["import"]

# Theme settings
theme: just-the-docs
search_enabled: true
heading_anchors: true
permalink: pretty

## Footer Content.
# You should probably not change these, but may add to footer_content if necessary.
# Replace `true` with any additional HTML that you would like to add.
# Footer *must* included the accessibility text defined in footer_custom.html
footer_content: true
back_to_top: true
back_to_top_text: "Back to Top"
last_edit_timestamp: true
last_edit_time_format: '%m %d, %Y at %H:%M'

# Compilation settings used by compress-html plugin:
# https://github.com/penibelst/jekyll-compress-html/tree/v3.2.0?tab=readme-ov-file
compress_html:
  clippings: all
  comments: all
  endings: all
  startings: []
  blanklines: false
  profile: false

# Native Jeykll build options
# You likely shouldn't need to touch these, but they are documented here just in case.
# https://jekyllrb.com/docs/configuration/options/

# This makes it easier when pushing to a static directory.
# The default false removes files in that directory, which is useful for when you unpublish pages.
# keep_files: false

# Likely not necessary, but a google default for Berkeley
timezone: America/Los_Angeles
future: true

# Note: dotfiles are excluded by default. .htaccess is included as a common case.
include:
  - LICENSE
  - .htaccess
  - robots.txt

exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - vendor/
  - README.md
  - CONTRIBUTING.md
  - tmp/
  - script/
  - spec/
  - node_modules/
