
@mixin dark-mode-overrides {

  p.important-title > p:first-child,
  blockquote.important-title > p:first-child {
    color: #9f8eff;
    // background: rgba($blue-000, 0.2)
  }

  table td, table th {
    background-color: #3D3D3D;  /* Light background for cells */
    color: #FFFFFF; /* Light text color for readability */
  }
  
  table td a, table th a {
    color: #9ECCF0;  /* Default link color */
  }
}
