<!-- This file comes from Just The Docs.
 This footer should be included on all EECS/DS sites.
-->

{%- if site.footer_content and site.footer_content != true -%}
  <p class="text-small text-grey-dk-100 m-0">{{ site.footer_content }}</p>
{%- endif -%}

<p class="text-small text-grey-dk-100 my-1">
  <a rel="nofollow noopener" href="https://dap.berkeley.edu/get-help/report-web-accessibility-issue" target="_blank" class="pr-2">Accessibility</a>
  <a rel="nofollow noopener" href="https://ophd.berkeley.edu/policies-and-procedures/nondiscrimination-policy-statement" target="_blank" class="px-2">Nondiscrimination</a>
</p>

<!-- Use this to add additional content. -->
<p class="text-small text-lighter m-0">
  Copyright ©{{ "now" | date: "%Y" }}, Regents of the University of Californa and respective authors.
</p>

<p class="fs-1 text-lighter my-1">
  This site is built following the <a href="https://github.com/just-the-docs/just-the-docs" target="_blank" rel="noopener">Berkeley Class Site</a> template, which is generously based on the <a href="https://github.com/kevinl/just-the-class" target="_blank" rel="noopener">Just the Class</a>, and <a href="https://github.com/just-the-docs/just-the-docs" target="_blank" rel="noopener">Just the Docs</a> templates.
</p>
