<!--
  This file loads just the necessary FullCalendar JS+Themes
  The calendar + custom JS are setup in the fullcalendar layout.

  We need at minimum: core, icalendar and timegrid plugins
  Optional stuff: list view, theming

  We use the Google Calendar ics feed because this does not require a public API key.
-->

<!-- This is the whole bundle...maybe we can load smaller components...? -->
<script type="text/javascript"
  src="{{ 'assets/vendor/fullcalendar/dist/index.global.min.js' | relative_url }}"></script>
<script type="text/javascript"
  src="{{ 'assets/vendor/fullcalendar/packages/google-calendar/index.global.min.js' | relative_url }}"></script>

<style type="text/css">
  main {
    width: 100%;
  }
</style>