---
layout: default
---

<div class="discussion">
    <h1>{{ page.title }}: {{ page.description }}</h1>
    <div class="due">Due at: {{ page.due }}</div>

    <div class="materials" style="margin: 20px 0;">
        {%- if page.pdfs -%}
            <h2>Materials</h2>
            {%- for pdf in page.pdfs -%}
                <a href="{{ page.subpath | append: pdf | relative_url }}" class="btn btn-outline-primary" style="margin-right: 10px;" target="_blank">                    View {{ pdf }}
                </a>
            {%- endfor -%}
        {%- endif -%}

        {%- if page.links -%}
            {%- unless page.pdfs -%}
                <h2>Materials</h2>
            {%- endunless -%}
            {%- for link in page.links -%}
                <a href="{{ link.url }}" class="btn btn-outline-primary" style="margin-right: 10px;" target="_blank">
                    {{ link.name }}
                </a>
            {%- endfor -%}
        {%- endif -%}
    </div>

    <div class="content">
        {{ content }}
    </div>

    <hr>

    <h2>Submission</h2>
    {% include submission.html 
        gradescope_assignment_id=page.gradescope_assignment_id 
        submission_files=page.submission_files 
    %}
</div>